/* Css style sheet for portfolio webpage */
:root {
	font-family: iosevka;
}
@font-face {
	font-family: iosevka;
	src: url("Iosevka/ttf/iosevka-thin.ttf");
	font-weight: 100;
}
@font-face {
	font-family: iosevka;
	src: url("Iosevka/ttf/iosevka-medium.ttf");
}
html,
body {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-image: url("pawel-czerwinski-ncgbTwIZhNU-unsplash.jpg");
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}
img {
	border-radius: 8px;
	max-width: 100%;
}
main{width: 100%;}
header {
	max-width: 1500px;
	width: 95%;
	display: grid;
	grid-template-columns: 20% auto 20%;
	grid-template-rows: 10px;
}
header > nav {
	place-self: center;
	display: flex;
	justify-content: center;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}
@keyframes text_separate {
	from {
		letter-spacing: 0px;
	}
}
@keyframes text_join {
	from {
		letter-spacing: 10px;
	}
}
header > nav > a {
	text-align: center;
	padding: 0 10px;
	white-space: nowrap;
	text-decoration: none;
	color: black;
	letter-spacing: 0px;
	animation: text_join 0.1s ease forwards;
}
header > nav > a:hover {
	letter-spacing: 10px;
	animation: text_separate 0.1s ease forwards;
}
header > form {
	display: flex;
	width: 100%;
	place-self: center;
	justify-content: right;
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
	padding-left: 10px;
}
header > form > input {
	margin: 0;
	height: 30px;
	border-radius: 15px;
	padding: 0 10px;
	width: 100%;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	padding-bottom: 50px;
}
article {
	display: flex;
	flex-direction: column;
	align-items: center;
}
main > .darkTile{
	max-width: 800px;
	width: 90%;
}
.darkTile > * {
	margin: 16px;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
form input[type="checkbox"] {
	display: none;
}
.checkboxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.checkboxes > label {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	border-radius: 25px;
	margin: 10px;
	background-color: #a2afff;
	width: 170px;
}
input[type="submit"], select, label{
	cursor: pointer;
}
form input[type="checkbox"]:checked + label {
	background-color: #a2ffaf;
}
.wideList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.wideList .darkTile{
	margin: 30px;
	width: 300px;
	height: 500px;
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 250px;
}
footer > p {
	text-align: center;
}
header, footer,
.darkTile {
	background-attachment: fixed;
	background-size: cover;
	border-radius: 16px;
	padding: 16px;
}
.darkTile {
	background-color: black;
	background-image: url("pawel-czerwinski-ncgbTwIZhNU-unsplash_blur_dark.jpg");
	color: white;
	box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5);
}
header, footer{
	background-color: white;
	background-image: url("pawel-czerwinski-ncgbTwIZhNU-unsplash_blur_bright.jpg");
	color: black;
	box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2);
	margin: 20px;
}
@media only screen and (max-width: 480px) {
	header {
		grid-template-columns: 0% auto 30%;
	}
	header > nav > a {
		animation: none;
	}
	header > nav > a:hover {
		letter-spacing: 0px;
		animation: none;
	}
}
