{% extends "base.html" %}

{% block content %}
{% if search_results %}
{% for project in search_results %}

<article class="darkTile" style="margin-bottom: 30px;">
  <div>
    <a href="/project/{{ project.project_id }}"><h2>Project number {{ project.project_id }}: {{ project.project_name }} </h2></a>
    <a href="/project/{{ project.project_id }}"><img src="https://via.placeholder.com/150" style="float: left;" alt={{ project.project_name }}></a>
    <p>{{ project.end_date }}</p>
    <p>{{ project.short_description }}</p>
    <p>Techniques used in this project:
      {% for technique in project.techniques_used %}
      {{ technique }}
    {% endfor %}</p>
    
    </div>
</article>

{% endfor %}
{% endif %}
{% endblock %}
