{% extends "base.html" %}
{% block content %}
<form method="get" class="darkTile">
	<h1>Avanderad Sökning</h1>
	<div>
		<input type="search" name="search projects">
		<label for="sort_by">Sortera efter:</label>
		<select name="sort_by" id="sort_by">
			{% for search_field in search_fields %}
			<option value="{{ search_field }}">{{ search_field }}</option>
			{% endfor %}
		</select>
		<label for="sort_order">Sortera :</label>
		<select name="sort_order" id="sort_order">
			<option value="asc">Uppåt</option>
			<option value="desc">Nedåt</option>
		</select>
	</div>
	<h2>Sökfält</h2>
	<div class="checkboxes">
		{% for search_field in search_fields %}
		<input type="checkbox" name="search_field" id="{{ search_field }}" value="{{ search_field }}">
		<label for="{{ search_field }}">{{ search_field }}</label>
		{% endfor %}
	</div>
	<input type="submit" value="Sök">
</form>
{% if search_results %}
<div class="wideList">
	{% include 'project.html' %}
</div>
{% endif %}
{% endblock %}
