{% extends 'base.html'%}

{% block content %}
<article class="darkTile">
	<form method="get">
		<h1>Press the techniques to sort projects!</h1>
		<div class="checkboxes">
			{% for technique in techniques%}
			<input type="checkbox" name="technique" id="{{ technique }}" value="{{ technique }}">
			<label for="{{ technique }}">{{ technique }}</label>
			{% endfor %}
		</div>
		<input type="submit" value="Sök">
	</form>
</article>

{% if search_results %}
<div class="wideList">
	{% include 'project.html' ignore missing %}
</div>
{% endif %}
{% endblock %}
